name: TLSContact Monitor

on:
  schedule:
    - cron: "*/10 * * * *"   # every 10 minutes
  workflow_dispatch:

jobs:
  monitor:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run monitor
        run: |
          python check_tls.py
        env:
          TG_TOKEN: ${{ secrets.TG_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
          PAGE_HASH: ${{ secrets.PAGE_HASH }}

      - name: Save new hash
        run: echo "PAGE_HASH=$(python check_tls.py | grep PAGE_HASH | cut -d= -f2)" >> $GITHUB_ENV
